*{
    margin: 0;
    font-family: 'Katibeh';
    padding: 0;
    
}

ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    
}

body{
    background-color: rgba(239, 226, 186, 1);
    font-family: 'Katibeh';
    text-align: end;   
}



.active{
    color: #F1BF0B;
}




#uni, #colleges, #courses, #immigrants{
    font-size: 60px;
}

.nav{
    z-index: 1;
    display: inline-block;
    padding: 20px;
    color: black;
    width: 20%;
    font-size: 200%;
    text-transform: uppercase;
    margin-right: 100px;
}

.nav:hover{
    color: #da1a0c;
}

#homePage_intro, #aboutThisProject, #contact_us{
    color: black;
    text-align: center;
    padding: 50px;
    font-size: 400%;
    text-transform: uppercase;
}

#homePage_text, #descriptionOfProject1, #descriptionOfProject2, #contact_text{
    color: black;
    text-align: center;
    font-size: 35px;
    width: 70%;

    justify-content: center;
    margin:  auto;
    padding: 50px;
}



#descriptionOfProject{
    width: 100%;
}

#home_image{
    width: 33.33%;
    height: auto;
    justify-content: center;
   display:block;
   margin: auto;
}

#home_images{
    display: flex;
    width: 100%;
}

#nav_cards{
    display: flex;
    flex-wrap: wrap;
    width: 1300px;
    padding-top: 10px;
    justify-content: center;
    margin: auto;
    display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 1fr;
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      overflow: hidden;
}

.card:hover{
    outline: 3px solid black;
}

#card1{
    width: 600px;
    height: 400px;
    
    background-color: rgba(215, 153, 34, 0.6);
    border-radius: 30px;
    position: relative;
    padding-bottom: 20px;
    display: flex;
}

#card2{
    width: 600px;
    height: 400px;
    
    background-color: rgba(64, 86, 161, 0.6);
    border-radius: 30px;
    position: relative;
    padding-bottom: 20px;
    display: flex;
}

#card3{
    width: 600px;
    height: 400px;
    
    background-color: rgba(241, 60, 32, 0.6);
    border-radius: 30px;
    position: relative;
    padding-bottom: 20px;
    display: flex;
}

#card4{
    width: 600px;
    height: 400px;
    
    background-color: rgba(104, 154, 85, 0.6);
    border-radius: 30px;
    position: relative;
    padding-bottom: 20px;
    display: flex;
}

#contact_form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(239, 226, 186, 1);
  }

  form {
    width: 400px;
    padding: 20px;
    background-color:rgba(239, 226, 186, 1);
    border-radius: 5px;
   
  }
  
  label {
    display: block;
    font-size: 30px;
    width: 10%;
      margin-bottom: 5px;
      color: black;
    text-transform: uppercase;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    height: 40%;
    padding: 10px;
    
     border: 1px solid black;
    border-radius: 20px;
  }
  
  
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: black;
    width: 40%;
    margin: auto;
  }
  
  input[type="submit"]:hover {
    outline: 5px solid #fff;
  }

#uni, #courses, #colleges, #immigrants{
    font-size:60px;
    justify-content: center;
    margin:  auto;
}



/* #homePage_nav_Toby, #homePage_nav_Eve, #homePage_nav_Sean {
    max-width: 100%;
    max-height: 100%;
    display: block;
    border-radius: 10px;
} */

a{
    color: unset;
    text-decoration: none;
}

#footerText{
    color: black;
}


@media screen and (max-width:1440px){
    
    
#nav_cards{
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    justify-content: center;
    margin: auto;
}


#card{
    width: 700px;
    height: 500px;
    background-color: #252a73;
    border: 5px solid #252a73;
    border-radius: 30px;
    position: relative;
    padding-bottom: 30px;
}

.nav{
    display: inline-block;
    padding: 24px;
    color: black;
    width: 30%;
    
    font-size: 200%;
}




#homePage_intro{
width: auto;
height: 188.72px;

font-family: 'Katibeh';
font-size: 70px;
line-height: 154px;
text-align: center;

color: #000000;
}
 

}

@media screen and (max-width:768px){
    
    
    #nav_cards{
        display: flex;
        flex-wrap: wrap;
        max-width: 450px;
        justify-content: center;
        margin: auto;
    }

    #card{
        width: 450px;
        height: 300px;
        
        border: 5px solid;
        border-radius: 30px;
        position: relative;
        padding-bottom: 10px;
        font-family: 'Katibeh';
    }

    
    
    .nav{
        display: inline-block;
        padding: 20px;
        color: black;
        width: 20%;
        font-size: 60%;
        font-family: 'Katibeh';
        font-size: 200%;
    }

    #homePage_intro{
        width: 1047px;
        height: 188.72px;
        font-family: 'Katibeh';
        font-style: normal;
        font-weight: 400;
        font-size: 80px;
        line-height: 154px;
        text-align: center;

        color: #000000;
    }
    


    }

    @media screen and (max-width:320px){
    
    
        #nav_cards{
            display: flex;
            flex-wrap: wrap;
            max-width: 300px;
            justify-content: center;
            margin: auto;
            
        }
    
        #card{
            width: 290px;
            background-color: #252a73;
            border: 5px solid #252a73;
            border-radius: 30px;
            position: relative;
            padding-bottom: 5px;
            
        }
        
        .nav{
            display: inline-block;
            padding: 20px;
            color: black;
            width: 20%;
            font-size: 120%;
           
        }
    
    
        #homePage_intro{
            color: black;
            text-align: center;
            padding: 50px;
            font-size: 200%;
            text-transform: uppercase;
        }

        ul{
            font-size: 10px;

        }
    
    
        }