head, body{
    background-color: #F3D18C;
}

.schoolPic {
    width: 20%;
    height: 20%;
    padding-right: 2%;
}

header{
    text-align: center;
}

main{
    padding: 20px 0;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

article{
    display: inline-block;
    width: 70%;
    background-color: #E9C06D;
    padding: 50px 20px;
    margin: auto;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 20px;
}

article:hover{
    outline: 2px solid white;
}

img{
    float: left;
}

h1{
    font-size: 300%;
}

p, h2{
    text-align: left;
    margin: auto;
    margin-left: 20px;
    font-size: 150%;
    
}

h4{
    font-size: 150%;
    text-align: left;
    float: left;
    margin: auto;
    margin-left: 20px;
    margin-top: 5%;
}

p{
    margin: 10px auto;
}

a{
    text-decoration: none;
    color: black;
}

#btm{
    text-align: left;
}